*{
    box-sizing: border-box;
}

body {
  margin: 0;
}
.outer--frame{
  width: 350px;
  height: 800px;
  background: #23252c;
  position: absolute;
  left: 500px;
}
.div--main{
  background-color: #1A1B21;
  width: 300px;
  height: 740px;
  margin-left: 25px;

}
.profile{
  width: 200px;
  height: 200px;
  margin-top: 20px;
  margin-left: 50px;
  margin-right: 20px;
}
.my--name{
  color: #FFFFFF;
  font: Inter, sans-serif;
  font-weight: 700;
  margin-top: 16px;
  margin-left: 90px;
}
.major{
  color: #f3bf99;
  margin-top: 4px;
  margin-left: 83px;
}
.website{
  color: #F5F5F5;
  margin-top: 4px;
  margin-left: 88px;
}
.mail--btn{
  margin-top: 5px;
  margin-left: 64px;
  width: 80px;
}
.ln--btn{
  margin-left: 20px;
  background-color:lightblue;
}
.about{
  margin-left:64px;
  color: #F5F5F5;
  font-weight: 700;
}
.about--p{
  color: #DCDCDC;
  margin-left: 64px;
  margin-right: 20px;
}
.interests{
  color: #F5F5F5;
  margin-left: 64px;
}
.interests--p{
  color: #DCDCDC;
  margin-left: 64px;
  margin-right: 20px;
}
.div--footer{
  position: absolute;
  bottom: 0;
  width: 350px;
  height: 40px;
}
.twitter{
  margin-left: 95px;
  color: #918E9B;
  width: 25px;
  height: 25px;
}
.facebook{
  margin-left: 20px;
  color: #918E9B;
  width: 25px;
  height: 25px;
}
.instagram{
  margin-left:20px;
  color: #918E9B;
  width: 25px;
  height: 25px;
}
.github{
  margin-left: 20px;
  color: #918E9B;
  width: 25px;
  height: 25px;
}